<!-- <div id="container">
  <h1>Full-stack Developer &amp; Student</h1>

  <button type="button" class="btn btn-outline-info" (click)="expertMode()">Info</button>

  <p [hidden]="!expert">Sono Francesco Santi, 25 anni: le mie passioni sono: <br>
    Il mondo IT<br>
    Lo sport<br>
    Gli animali, in particalare Maggie
  </p>
  <a><img src="/assets/images/hero.svg" alt="Generic placeholder image"> </a>
 -->
<!--
</div> -->
<div id="container">
  <br><br>
  <img src="/assets/images/io.gif" class="img-fluid" alt="me" style = "height: 300px; margin:10px; border-radius: 25px;">
  <br><br><br>
<h1>Francesco Santi<br>
  I'm a Full-stack Developer &amp; Student
</h1>
<br>

<!-- cv -->
<!-- <a href="https://www.linkedin.com/in/francesco-santi-552121115">
  <img src="/assets/images/cv.png" class="img-fluid" alt="linkedin" style = "height: 150px; margin:10px; border-radius: 25px;">
</a> -->


<!-- linkedin -->
<a href="https://www.linkedin.com/in/francesco-santi-552121115">
  <img src="/assets/images/linkedin.png" class="img-fluid" alt="linkedin" style = "height: 150px; margin:10px; border-radius: 25px;">

</a>

<!-- email -->
<!-- <a href="https://www.linkedin.com/in/francesco-santi-552121115">
  <img src="/assets/images/mail.png" class="img-fluid" alt="linkedin" style = "height: 150px; margin:10px; border-radius: 25px;">

</a> -->

<!-- //funzio click da inserire nel div ti porta allla parte desideratra -->
<!-- trovare un modo di centrali e impostre un marign -->
 <!-- <div class="card inline" style="width: 18rem;">
  <img src="/assets/images/hero.svg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Project &amp; Case study</h5>
  </div>
</div>

<div class="card inline" style="width: 18rem;">
  <img src="/assets/images/cv.svg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Curriculum</h5>
  </div>
</div>

  <div class="card inline" style="width: 18rem;">
    <img src="/assets/images/me.svg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">About me</h5>
    </div>
  </div> -->

  <!-- aggiungere link git, linkedin

  aggiungere pop up contact me -->

</div>
